/*GENERELLA*/
body {
    background-color:lightblue;
}

header{
    overflow:auto;
    background-color:purple;
    border: 3px solid black;

}

footer{

}





/*ID*/
#form1{
    width:20%;
    margin: 0 auto;
    background-color:grey;
}

#headerH2{
    width:50%;
    float:left;
    background-color:red;
}

#logo{
    background-color:green;
    width:50%;
    float:left;
}





/*KLASSER*/

