body{
    background-image:url("../Images/background/BG.jpg");
}

.body-content{
    background-color:white;
    max-width:1200px;
    padding-top:50px;
    box-shadow:0px 0px 10px black;
    display:block;
    padding-left: 15px;
    padding-right: 15px;
    /*background-color:blue;*/
    min-height: calc(100vh - 100px);
    /*height: calc(.body-content - 150px);*/
}
.navbar{
    width:80%;
    max-width:1200px;
    margin:0 auto;
}
.shadowDiv{
    box-shadow:0px 50px 20px black;
}




p, a{
    font-family: Tahoma,Verdana,Segoe,sans-serif;
    font-size:90%;
}
h4{
    font-family: Tahoma,Verdana,Segoe,sans-serif;
    font-size:130%;
}
h5{
    font-family: Tahoma,Verdana,Segoe,sans-serif;
    font-size:110%;
}


.form-group{
    font-family: Tahoma,Verdana,Segoe,sans-serif;
    font-size:90%;
    width:98%;
    padding-left:2%;
}

.subscriptionHeaders{
    display:inline-block;
    margin-top:20px;
    font-size:105%;
    font-weight:bold;
}

.pageDiv{
    max-width:1000px;
    margin: 0 auto;
}
#startPageDiv .row {
    padding-left:2%;
    width:100%;
}
.contentPaddingLeft{
    padding-left:2%;
}


body {
    /*padding-top: 50px;*/
    padding-bottom: 0px;
}

footer{
    margin:0 auto;
    text-align:right;
    background-color:#dc3838;
    width:80%;
    height:100px;
    max-width:1200px;
    padding-right:2%;
    font-size:135%;
    border-top:1px solid black;
    box-shadow:0px 5px 20px black;
}

footer p{
    float:right;
    margin-top:1%;
    clear:both;
    color:#1e1e1e;
}

footer a{
    float:right;
    clear:both;
    /*color:black;*/
    color:#ffffff;
    /*color:#1e1e1e;*/
}

footer a:hover{
    color:#1e1e1e;
    /*color:#3e2f2e;*/
    /*color:#cccccc;*/
    text-decoration:none;
}

.navbar-brand{
    font-size:190%;
}

.navbar-brand:hover{

}

.navbar-inverse .navbar-nav > li > a{ /*BORDER PÅ HÖGER SIDA I MENYN*/
    /*border-right:1px solid black;*/
}

.navbar-inverse .navbar-nav > li > a:focus{
    /*color:yellow;*/
}

.navbar-inverse .navbar-nav > li > .current-menu-item{
    background-color:lightgreen;
}

.navbar-inverse .menu-sites > li > a{
    font-size:105%;
}


.body-content {

}

#MainContent{
}


.dl-horizontal dt {
    white-space: normal;
}

.navbar-inverse .navbar-toggle:hover .icon-bar{
    background-color:#dc3838;
}
.navbar-inverse .navbar-toggle:hover{
    background-color:white;
}


.navbar-inverse .navbar-toggle:target{
    /*border:0px solid white;*/
    /*background-color:white;*/
}
.navbar-inverse .navbar-toggle:target .icon-bar{
    background-color:#dc3838;
}

.collapsed{
    background-color:#dc3838;
}

.collapsed:target{
    /*background-color:#dc3838;*/
}
.overlay-container{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color:transparent;
    z-index: 1499;
    display: none;
}
.page-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(51,51,51,0.7);
    z-index: 1500;
}
.overlay-message {
    position:relative;
     margin: 0 auto;
     margin-top: 110px;
     padding: 1em;
     z-index: 1501;
     background: white;
     max-width: 500px;
 /*display:none;*/
 /*text-align: center;*/
}
.lbtnLogin:hover{
    cursor:pointer;
}
#col-md-8-loginForm{
    width:95%;
}

/*#privAcc{
    display: none;
    display:
}*/
/*nav.navbar-nav.navbar-right.HideClass{
    display:none;
}
.ShowClass{
    display:block;
}*/


#myinfo{
    /*float:left;*/
    /*text-align:left;*/
    /*width:10%;*/
}
.my-info-label-div{
    font-weight:bold;
}
.my-info-label{
    /*text-align:left;*/
    /*color:red;*/
}
.btn-update-info{
    margin-top:10px;
}
.my-info-label-div{
    margin-bottom:12px;
}



input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}




/*STARTSIDA*/
.messageHeaderP{
    text-decoration:underline;
    font-size:120%;
}
.paragraphInline{
    display:inline;
}
#MainContent_messagesDiv{
    word-wrap:break-word;
}
#MainContent_newsDiv{
    border-left:1px solid lightgrey;
}
#MainContent_presentationDiv{
    overflow:hidden;
}




/*INFOSIDA*/
#infoDiv{
    padding-top:0%;
    color:#444444;
    
}

.headerDiv:hover{
    cursor: pointer;
    background-color:rgba(220, 56, 56, 0.1);
    color:#1e1e1e;
}

.infoHeaders{
    font-size:140%;
    font-weight:bold;
}
.headerDiv{
    text-indent:2%;
    padding-top:1.5%;
    padding-bottom:1.5%;
    /*margin-top:2%;*/
    border-top:1px solid #bbbbbb;
}
.infoHeaders{
    margin-bottom:0;
}

.foldedText{
    margin-bottom:3%;
    font-size:110%;
    width:98%;
    padding-left:2%;
}

.form-horizontal h4,
.form-horizontal h5{
    padding-left:2%;
}

#shortInfo{
    margin-bottom:20px;
}
h2{
    font-size:250%;
    padding-left:2%;
}
h4{
    font-size:170%;
}

#userInfoDiv{
    padding-left:2%;
}



/*KONTAKTSIDA*/
.mapDiv{
    width: 100%;
    overflow: hidden;
    height: 400px;
    max-width: 100%;
    padding-left:2%;
    padding-right:2%;
}

#gmap_display{
    height: 100%;
    width: 100%;
    max-width: 100%;
}
#iframeMap{
    height: 100%;
    width: 100%;
    border: 0;
}

.form-horizontal h2{
    padding-left:2%;
}
#logoDiv{


}
#logoImg{
    /*margin-left:10%;*/
    height:100%;
    width:100%;
    max-height:100px;
    max-width:100px;
    float:left;
    /*clear:none;*/
}
#logoCont{

    float:left;
    clear:none;
    width:100px;
}
.container{
    overflow:auto;
}
#mContainer{
    /*margin: 0 auto;*/
    /*margin-left: -5%;*/
    max-width: 1000px;

    float:left;
}
/*.navbar-collapse.collapse{
    float:left;
}*/
#rightFloat{
    float:right;
}
#margincorrection{
    margin:0 auto;
    height:auto;
    overflow:auto;
    max-width:1001px;
}
.socialMediaIcon{
    width: 30%;
    max-width:92px;
    height:auto;
    clear:none;
    float:left;
    margin-left:5%;
    margin-right:10%;
}
.socialMediaIcon img{
    height:100%;
    width:100%;
}
.newsImg{
    max-width:96%;
    padding-left:2%;
    padding-right:2%;
}
#loginForm .col-md-2{
    width:auto;
}
#loginForm .col-md-10{
    width:100%;
}





/*BOKNINGSSIDA*/
#MainContent_scheduleDiv{
    display:table;
    /*width:96%;*/
    padding-left:2%;
    padding-right:2%;
    /*border-right:1px solid black;*/
    /*margin:0 auto;*/
}

.dayDiv{
    /*background-color:forestgreen;*/
    float:left;
    /*max-width:113.85px;*/
    /*border:1px solid black;*/
    /*border-right:1px solid black;*/
    /*border-left:1px solid black;*/
    /*border-top:1px solid black;*/
    border-bottom:1px solid black;
    border-left:1px solid black;
}
.staticDayDiv{
    /*background-color:grey;*/
    /*margin:5px;*/
    padding-top:5px;
    padding-bottom:5px;
    text-align:center;
    font-weight:bold;
    background-color:#ddd;
    border-top:1px solid black;
    /*border-left:1px solid black;*/
}

.hourDivs{
    /*background-color:blueviolet;*/
    height:50px;
    width:100%;
    /*border-bottom:1px solid black;*/
    border-top: 1px solid black;
    margin-top:0px;
    /*margin-bottom:5px;*/
    padding-top:0px;
    font-size:70%;
}
.courtDivs{
    /*background-color:lightgreen;*/
    /*margin:5px;*/
    margin-top:0px;
    margin-bottom:0px;
    margin-right:0px;
    margin-left:0px;
    height:50%;
    width:100%;
    padding-bottom:10px;
    padding-left:1px;
    padding-right:1px;
    overflow:hidden;
    /*white-space:nowrap;*/
}

#staticTimesDiv{
    /*background-color:white;*/
    float:left;
    /*border: 1px solid black;*/
    border-top:1px solid white;
    margin-top:30px;
    font-weight:bold;
    background-color:#ddd;
    border-bottom:1px solid black;
    border-left:1px solid black;
    width:6%;

}
.staticHourDiv{
    /*background-color:cornflowerblue;*/
    /*margin-left:5px;
    margin-right:5px;*/
    margin-top:0px;
    /*margin-bottom:5px;*/
    /*margin:5px;*/
    padding-top:14.5px;
    padding-bottom:14.5px;
    /*height:40px;*/
    text-align:center;
    border-top:1px solid black;
    /*border-bottom:1px solid black;*/
    height:50px;
}

[id='4-7-1']{
    background-color:lightblue;
}
[id='4-7-2']{
    background-color:pink;
}

/*SLUT - BOKNINGSSIDA*/


















@media screen and (min-width: 992px){
    
    #startPageDiv{
        margin-top:2%;
    }
    #startPageDiv h2{
        margin-top:0;
    }
}

@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
        padding-top:100px;
    }
    /*NYTT*/
    #MainContent_scheduleDiv{
        width:100%;
    }
    
    /*SLUT NYTT*/
}

@media screen and (max-width: 360px){
    a.navbar-brand{
        margin-left:0px;
        padding-top:15px;
        padding-left:15px;
        padding-right:0px;  
        font-size:160%;
    }
/*@media screen and (max-width: 320px) {
    a.navbar-brand {
        font-size:170%;
    }
}*/

    .headerDiv{
    font-size:130%;
    padding-top:2%;
    margin-bottom:0;
    font-weight:bold;
}

}
@media screen and (max-width: 550px){
    .overlay-message{
    width: 95%
    }
}

@media screen and (max-width: 992px){
    .navbar{
        width:90%;
    }
    footer{
        width:90%;
    }
    .body-content{
        width:90%;
    }
    #mContainer{
        width:80%;
    }
    #MainContent_newsDiv{
    border-left:none;
    }
    #MainContent_presentationDiv{
        padding-bottom:20px;
        border-bottom: 1px solid lightgrey;
    }
    .form-horizontal{
        padding-right:2%;
    }
    #infoDiv .form-horizontal{
        padding-right:0;
    }
}

@media screen and (max-width: 804px)
{
    .navbar{
        width:100%;
    }
    .body-content{
        width:100%;
    }
    footer{
        width:100%;
    }
}

@media screen and (max-width: 767px){
    #infoDiv{
        margin-left:-15px;
        margin-right:-15px;
    }
    #logoImg{
        display: none;
    }
    #rightFloat{
        float: none;
    }
    #mContainer{
        width: 100%;
    }
    .mapDiv{
        padding-left:0%;
        padding-right:0%;
    }
    footer p{
        float:none;
        text-align:center;
        padding-top:2%;
        margin-bottom:0;
    }
    footer a{
        float:none;
        font-size:100%;
    }
    .body-content{
        padding-top:-50px;
    }
    .navbar-inverse .navbar-nav > li > a{
        font-size:135%;
    }

}
