/*MASTER*/
body{
    background-image:url("../Images/background/BG.jpg");
    padding-bottom: 0px;
}

.body-content{
    background-color:white;
    max-width:1200px;
    padding-top:50px;
    box-shadow:0px 0px 10px black;
    display:block;
    padding-left: 15px;
    padding-right: 15px;
    /*background-color:blue;*/
    min-height: calc(100vh - 99px);
    /*height: calc(.body-content - 150px);*/
}
.navbar{
    width:80%;
    max-width:1200px;
    margin:0 auto;
}

.navbar-brand{
    font-size:190%;
}

.navbar-brand:hover{

}

.navbar-inverse .navbar-nav > li > a{ /*BORDER PÅ HÖGER SIDA I MENYN*/
    /*border-right:1px solid black;*/
}

.navbar-inverse .navbar-nav > li > a:focus{
    /*color:yellow;*/
}

.navbar-inverse .navbar-nav > li > .current-menu-item{
    background-color:lightgreen;
}

.navbar-inverse .menu-sites > li > a{
    font-size:105%;
}
.navbar-inverse .navbar-toggle:hover .icon-bar{
    background-color:#dc3838;
}
.navbar-inverse .navbar-toggle:hover{
    background-color:white;
}


.navbar-inverse .navbar-toggle:target{
    /*border:0px solid white;*/
    /*background-color:white;*/
}
.navbar-inverse .navbar-toggle:target .icon-bar{
    background-color:#dc3838;
}

.collapsed{
    background-color:#dc3838;
}

.collapsed:target{
    /*background-color:#dc3838;*/
}
footer{
    margin:0 auto;
    text-align:right;
    background-color:#dc3838;
    width:80%;
    height:100px;
    max-width:1200px;
    padding-right:2%;
    font-size:135%;
    border-top:1px solid black;
    box-shadow:0px 5px 20px black;
}

footer p{
    float:right;
    margin-top:1%;
    clear:both;
    color:#1e1e1e;
}

footer a{
    float:right;
    clear:both;
    /*color:black;*/
    color:#ffffff;
    /*color:#1e1e1e;*/
}

footer a:hover{
    color:#1e1e1e;
    /*color:#3e2f2e;*/
    /*color:#cccccc;*/
    text-decoration:none;
}

footer a:focus{
    color:#1e1e1e;
    text-decoration:none;
}

#margincorrection{
    margin:0 auto;
    height:auto;
    overflow:auto;
    max-width:1001px;
}
#rightFloat{
    float:right;
}
#logoImg{
    /*margin-left:10%;*/
    height:100%;
    width:100%;
    max-height:100px;
    max-width:100px;
    float:left;
    /*clear:none;*/
}
.container{
    overflow:auto;
}
#mContainer{
    /*margin: 0 auto;*/
    /*margin-left: -5%;*/
    max-width: 1000px;
    float:left;
}

#pinDiv{
    padding-top: 5px;
    float: left;
    text-align: center;
    font-family: Tahoma,Verdana,Segoe,sans-serif;
    color:#e0e0e0;
    text-shadow:#616161 1px 1px 0;
}
#postitnote{
    background: #ffc;
    margin: 2px 0 0 2px;
    padding: 5px 5px 10px;
    position: fixed;
    top: 40px;
    right: 20%;
    width: 120px;
    z-index: 2000;
    height: 120px;
    border-radius:1px;
    /*box-shadow:rgba(0,0,0,0.2) 5px 5px;*/
    box-shadow:5px 5px 10px rgba(0,0,0,0.4);
    
}
#closePostit{
    width:18px;
    height:18px;
    float: right;
    
}
#closePostit:hover{
    cursor:pointer;
}
.rbox-data{
    width:100%;
    margin-top: 25px;
    margin-left:10px;

}
@font-face {
    font-family: 'Gunny'; /*a name to be used later*/
    src: url('../fonts/gnyrwn971.ttf'); /*URL to font*/
}
.rbox-data > p{
    margin: 0 auto;
    font-family: Gunny;
    font-size:20px;
}
#postitarrow{
    width:15px;
    height:30px;
    float:left;
}

/*MASTER - SLUT*/









/*GENOMGÅENDE*/
p, a{
    font-family: Tahoma,Verdana,Segoe,sans-serif;
    font-size:90%;
}
h4{
    font-family: Tahoma,Verdana,Segoe,sans-serif;
    font-size:130%;
}
h5{
    font-family: Tahoma,Verdana,Segoe,sans-serif;
    font-size:110%;
}

.form-group{
    font-family: Tahoma,Verdana,Segoe,sans-serif;
    font-size:90%;
    width:98%;
    padding-left:2%;
}

.pageDiv{
    max-width:1000px;
    margin: 0 auto;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"],
input[type="number"] {
    max-width: 280px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
    margin: 0;
}





.form-horizontal h2{
    padding-left:2%;
}

.form-horizontal{
    /*display:table;*/
}

.redirectLinks{
    font-weight:bold;
    color:#009FFF;
    text-decoration:underline;
}
.redirectLinks:hover{
    color:#F37735;
    /*text-decoration:none;*/
    text-decoration:underline;
}
.redirectLinks:active{
    color:#2A6496;
    /*text-decoration:none;*/
    text-decoration:underline;
}
.redirectLinks:visited{
    /*color:#934CDB;*/
    /*text-decoration:none;*/
    text-decoration:underline;
}
.redirectLinks:focus{
    /*text-decoration:none;*/
    text-decoration:underline;

}

/*GENOMGÅENDE - SLUT*/




/*INFO*/
.subscriptionHeaders{
    display:inline-block;
    margin-top:20px;
    font-size:105%;
    font-weight:bold;
}
#infoDiv{
    padding-top:0%;
    color:#444444;
    
}

.headerDiv:hover{
    cursor: pointer;
    background-color:rgba(220, 56, 56, 0.1);
    color:#1e1e1e;
}

.infoHeaders{
    font-size:140%;
    font-weight:bold;
}
.headerDiv{
    text-indent:2%;
    padding-top:1.5%;
    padding-bottom:1.5%;
    /*margin-top:2%;*/
    border-top:1px solid #bbbbbb;
}
.infoHeaders{
    margin-bottom:0;
}

.foldedText{
    margin-bottom:3%;
    font-size:110%;
    width:98%;
    padding-left:2%;
}

.form-horizontal h4,
.form-horizontal h5{
    padding-left:2%;
}

#shortInfo{
    margin-bottom:20px;
}
h2{
    font-size:250%;
    padding-left:2%;
}
h4{
    font-size:170%;
}

#userInfoDiv{
    padding-left:2%;
}
/*INFO - SLUT*/




/*DEFAULT*/
#startPageDiv .row {
    padding-left:2%;
    width:100%;
}
.messageHeaderP{
    text-decoration:underline;
    font-size:120%;
}
.paragraphInline{
    display:inline;
}
#MainContent_messagesDiv{
    word-wrap:break-word;
}
#MainContent_newsDiv{
    border-left:1px solid lightgrey;
}
#MainContent_presentationDiv{
    overflow:hidden;
}
.socialMediaIcon{
    width: 30%;
    max-width:92px;
    height:auto;
    clear:none;
    float:left;
    margin-left:5%;
    margin-right:10%;
}
.socialMediaIcon img{
    height:100%;
    width:100%;
}
.newsImg{
    max-width:96%;
    padding-left:2%;
    padding-right:2%;
}
/*DEFAULT - SLUT*/




/*MYPAGE*/
.contentPaddingLeft{
    padding-left:2%;
}
#myinfo{
    /*float:left;*/
    /*text-align:left;*/
    /*width:10%;*/
}
.my-info-label-div{
    font-weight:bold;
}
.my-info-label{
    /*text-align:left;*/
    /*color:red;*/
}
.btn-update-info{
    margin-top:10px;
}
.my-info-label-div{
    margin-bottom:12px;
}
/*MYPAGE - SLUT*/



/*REGISTER*/
#MainContent_lblMessage{
    color:red;
}
/*REGISTER - SLUT*/






/*LOGIN*/
.overlay-container{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color:transparent;
    z-index: 1499;
    display: none;
}
.page-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(51,51,51,0.7);
    z-index: 1500;
}
.overlay-message {
    position:relative;
     margin: 0 auto;
     margin-top: 110px;
     padding: 1em;
     z-index: 1501;
     background: white;
     max-width: 500px;
     border-radius:4px;
 /*display:none;*/
 /*text-align: center;*/
}
.lbtnLogin:hover{
    cursor:pointer;
}
#col-md-8-loginForm{
    width:95%;
}
#loginForm .col-md-2{
    width:auto;
}
#loginForm .col-md-10{
    width:100%;
}
/*LOGIN - SLUT*/






/*CONTACT*/
.mapDiv{
    width: 100%;
    overflow: hidden;
    height: 400px;
    max-width: 100%;
    padding-left:2%;
    padding-right:2%;
}

#gmap_display{
    height: 100%;
    width: 100%;
    max-width: 100%;
}
#iframeMap{
    height: 100%;
    width: 100%;
    border: 0;
}

.directionsText{
    padding-left:2%;
    padding-top:30px;
    clear:both;
}

.contactInfoDiv{
    /*width:33.3%;*/
    float:left;
    padding-left:2%;
}

#Telephone{
    /*background-color:lightcoral;*/
    width:30%
}

#Email{
    /*background-color:lightpink;*/
    width:40%;
}

#Address{
    /*background-color:violet;*/
    width:30%;
}
/*CONTACT - SLUT*/





/*BOOKING*/
#MainContent_scheduleDiv{
    display:table;
    width:100%;
    padding-left:2%;
    padding-right:2%;
    /*border-right:1px solid black;*/
    /*margin:0 auto;*/
}

.dayDiv{
    /*background-color:forestgreen;*/
    float:left;
    /*max-width:113.85px;*/
    /*border:1px solid black;*/
    /*border-right:1px solid black;*/
    /*border-left:1px solid black;*/
    /*border-top:1px solid black;*/
    border-bottom:1px solid #A0A0A0;
    border-left:1px solid #A0A0A0;
}
.staticDayDiv{
    /*background-color:grey;*/
    /*margin:5px;*/
    padding-top:5px;
    padding-bottom:5px;
    text-align:center;
    font-weight:bold;
    /*background-color:#ddd;*/
    background: #ffffff;
    background-image: -webkit-linear-gradient(top, #ffffff, #dedede);
    background-image: -moz-linear-gradient(top, #ffffff, #dedede);
    background-image: -ms-linear-gradient(top, #ffffff, #dedede);
    background-image: -o-linear-gradient(top, #ffffff, #dedede);
    background-image: linear-gradient(to bottom, #ffffff, #dedede);
    border-top:1px solid #A0A0A0;
    /*border-left:1px solid black;*/
}

.hourDivs{
    /*background-color:blueviolet;*/
    height:50px;
    width:100%;
    /*border-bottom:1px solid black;*/
    border-top: 1px solid #A0A0A0;
    margin-top:0px;
    /*margin-bottom:5px;*/
    padding-top:0px;
    font-size:70%;
    background: #cfffd2;

}


.courtDivs{
    /*background-color:lightgreen;*/
    /*margin:5px;*/
    margin-top:0px;
    margin-bottom:0px;
    margin-right:0px;
    margin-left:0px;
    height:50%;
    width:100%;
    padding-bottom:10px;
    padding-left:1px;
    padding-right:1px;
    overflow:hidden;
    background-image:url("../Images/Gplus.svg");
    background-image:none;
    /*white-space:nowrap;*/

}

#staticTimesDiv{
    /*background-color:white;*/
    float:left;
    /*border: 1px solid black;*/
    border-top:1px solid white;
    margin-top:50px;
    font-weight:bold;
    background-color:#ddd;
    background-image: -webkit-linear-gradient(left, #ffffff, #dedede);
    background-image: -moz-linear-gradient(left, #ffffff, #dedede);
    background-image: -ms-linear-gradient(left, #ffffff, #dedede);
    background-image: -o-linear-gradient(left, #ffffff, #dedede);
    background-image: linear-gradient(to right, #ffffff, #dedede);
    border-bottom:1px solid #A0A0A0;
    border-left:1px solid #A0A0A0;
    width:6%;

}
.staticHourDiv{
    /*background-color:cornflowerblue;*/
    /*margin-left:5px;
    margin-right:5px;*/
    margin-top:0px;
    /*margin-bottom:5px;*/
    /*margin:5px;*/
    padding-top:14.5px;
    padding-bottom:14.5px;
    /*height:40px;*/
    text-align:center;
    border-top:1px solid #A0A0A0;
    /*border-bottom:1px solid black;*/
    height:50px;
}

/*[id='4-7-1']{
    background-color:lightblue;
}
[id='4-7-2']{
    background-color:pink;
}*/
.subscribedCourt{
    /*background-color:lightcoral;*/
  background: #fac5c5;
  background-image: -webkit-linear-gradient(top, #fac5c5, #d46868);
  background-image: -moz-linear-gradient(top, #fac5c5, #d46868);
  background-image: -ms-linear-gradient(top, #fac5c5, #d46868);
  background-image: -o-linear-gradient(top, #fac5c5, #d46868);
  background-image: linear-gradient(to bottom, #fac5c5, #d46868);
}
.reservedCourt{
  background: #ccebf5;
  background-image: -webkit-linear-gradient(top, #ccebf5, #35c0e3);
  background-image: -moz-linear-gradient(top, #ccebf5, #35c0e3);
  background-image: -ms-linear-gradient(top, #ccebf5, #35c0e3);
  background-image: -o-linear-gradient(top, #ccebf5, #35c0e3);
  background-image: linear-gradient(to bottom, #ccebf5, #35c0e3);
}
.mySubscribedCourt{
    background: #d46868;
    background-image: -webkit-linear-gradient(top, #d46868, #dc3838);
    background-image: -moz-linear-gradient(top, #d46868, #dc3838);
    background-image: -ms-linear-gradient(top, #d46868, #dc3838);
    background-image: -o-linear-gradient(top, #d46868, #dc3838);
    background-image: linear-gradient(to bottom, #d46868, #dc3838);
    color:white;

}
.myReservedCourt{
    background: #35c0e3;
    background-image: -webkit-linear-gradient(top, #35c0e3, #3636e3);
    background-image: -moz-linear-gradient(top, #35c0e3, #3636e3);
    background-image: -ms-linear-gradient(top, #35c0e3, #3636e3);
    background-image: -o-linear-gradient(top, #35c0e3, #3636e3);
    background-image: linear-gradient(to bottom, #35c0e3, #3636e3);
    color:white;
}
.showPointer{
    cursor:pointer;
}


.tiptool {
    display:none;
	position:absolute;
	border:1px solid #333;
	background-color:#161616;
	border-radius:5px;
	padding:10px;
	color:#fff;
	font-size:12px;
    opacity:0.8;
}
.freeCourt{
    cursor:pointer;
    background: #cfffd2;
      background-image: -webkit-linear-gradient(left, #cfffd2, #bdffbc);
      background-image: -moz-linear-gradient(left, #cfffd2, #bdffbc);
      background-image: -ms-linear-gradient(left, #cfffd2, #bdffbc);
      background-image: -o-linear-gradient(left, #cfffd2, #bdffbc);
      background-image: linear-gradient(to right, #cfffd2, #bdffbc);
}

.fcsDivs{
    background: rgba(164, 202, 163, 0.7);
}




.booking-overlay-container{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color:transparent;
    z-index: 1499;
    display: none;
}
.booking-page-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(51,51,51,0.7);
    z-index: 1500;
}
.booking-overlay-message {
    position:relative;
     margin: 0 auto;
     margin-top: 110px;
     padding: 1em;
     z-index: 1501;
     background: white;
     max-width: 500px;
     overflow:auto;
     border-radius:4px;
 /*display:none;*/
 /*text-align: center;*/
}
.hourBookingDiv{
    display:none;
    width:100%;
    overflow:auto;
}
.bookingDiv{
    display:block;
    max-width: 47%;
    float: left;
    margin-left: 2%;
    padding:1%;
    border:3px solid white;
}

.selectedCourt{
    /*border:3px solid forestgreen;*/
    border-radius:4px;
    box-shadow: 1px 2px 6px 5px rgba(34, 139, 34, 0.12), 0 1px 4px rgba(34, 139, 34, 0.24), 0 4px 4px rgba(34, 139, 34, 0.36);
    /*-webkit-box-shadow: inset*/ 
}

.courtImgDivFree{
    width: 100%;
    /*background-color:lightgreen;*/
    /*border:3px solid white;*/
}
.courtImgDivFree:hover{
    cursor:pointer;
}

.courtImgDivBooked{
    width: 100%;
    /*background-color:lightcoral;*/
    /*border:3px solid white;*/
}

.courtImgDivReserved{
    width: 100%;
    /*background-color:lightblue;*/
    /*border:3px solid white;*/
}

.courtImg{
    width: 100%;
    /*margin: 0 auto;*/
}

.book-btn{
    width:25%;
    /*max-width:58px;*/
    margin-left:37.5%;
    margin-right:37.5%;
    /*margin-left: calc(100% - 58px);
    margin-right: calc(100% - 58px);*/
    margin-top: 10px;
}
.greyDiv{
    height:50px;
    width:100%;
    border-top: 1px solid #A0A0A0;
    margin-top:0px;
    padding-top:0px;
    font-size:70%;
    background-color:#ffffff;
    background-image: -webkit-linear-gradient(right, #ffffff, #dedede);
    background-image: -moz-linear-gradient(right, #ffffff, #dedede);
    background-image: -ms-linear-gradient(right, #ffffff, #dedede);
    background-image: -o-linear-gradient(right, #ffffff, #dedede);
    background-image: linear-gradient(to left, #ffffff, #dedede);
}
#MainContent_selectorDiv{
    width:96.2%;
    margin-left:1.8%;
    height:auto;
    overflow:auto;
    font-size:100%;
    border:1px solid #A0A0A0;
    border-radius: 4px;
    /*height:41px;
    font-size:75%;*/
}
.daySelector{
    padding-top:5px;
    padding-bottom:5px;
    text-align:center;
    font-weight:bold;
    /*background-color:#ddd;*/
    background: #ffffff;
    background-image: -webkit-linear-gradient(top, #ffffff, #dedede);
    background-image: -moz-linear-gradient(top, #ffffff, #dedede);
    background-image: -ms-linear-gradient(top, #ffffff, #dedede);
    background-image: -o-linear-gradient(top, #ffffff, #dedede);
    background-image: linear-gradient(to bottom, #ffffff, #dedede);
    /*border-top:1px solid #A0A0A0;*/
    float:left;
    width:auto;
}

.daySelector:hover{
    cursor:pointer;
    background-image:none;
    background-color:#dedede;
}

.daySelector:active{
    background-image:none;
    background-color:darkgrey;
}

.selectedMobileDay{
    background-image:none;
    background-color:#C7C7C7;
}




#MainContent_myBookingsDiv{
    margin: 0 auto;
    width:80%;

}
#myBookingsH3{
    text-align:center;
    font-size:180%;
}

#bookingsTable{
    margin:0 auto;
    width:100%;
    border-top:1px solid #A0A0A0;
    border-left: 1px solid #A0A0A0;
}

.myBookingsTH{
    font-weight:bold;
    font-size:110%;
    text-align:center;
    border-right: 1px solid #A0A0A0;
    background: #ffffff;
    background-image: -webkit-linear-gradient(top, #ffffff, #dedede);
    background-image: -moz-linear-gradient(top, #ffffff, #dedede);
    background-image: -ms-linear-gradient(top, #ffffff, #dedede);
    background-image: -o-linear-gradient(top, #ffffff, #dedede);
    background-image: linear-gradient(to bottom, #ffffff, #dedede);
}
.myBookingsTR{
    border-bottom:1px solid #A0A0A0;
    text-align:center;
    background-color:#d6ebf2;
}
.myBookingsTD{
    border-right: 1px solid #A0A0A0;
    font-size:110%;
}

.mySubscriptionsTR{
    border-bottom:1px solid #A0A0A0;
    text-align:center;
    background-color:#FDDADA;
}

.mySubscriptionsTD{
    border-right: 1px solid #A0A0A0;
    font-size:110%;
}



.bookingDescriptionDiv{
    width:100%;
    padding-left:3%;
    height:auto;
    display:table;

}

.descriptionDiv{
    float:left;
    width:49%;
}



#MainContent_divBookMess{
    margin-left:8%;
    width:92%;
    font-weight:bold;
    font-size:120%;
}
.successfulBookingMessage{
    color:rgb(69, 183, 23)
}

.failedBookingMessage{
    color:red;
}

#btnCancelRes{
    float:right;
    margin-top:1%;
}
#scheduleH2{
    margin-top:40px;
}
#scheduleH4{
    padding-left:2%;
}

#MainContent_cancelReservationDiv{
    margin-left:5%;
    overflow:hidden;
}

#toCancelDiv{
    margin-top:4%;
    /*margin-bottom:4%;*/
    margin-left:5%;
}

.promptButtons{
    margin-left:5%;
    margin-right:5%;
    margin-top:10%;
    margin-bottom:4%;
    display:table;
    width:90%;

}

.promptOK{
    float:left;
    font-weight:bold;
    width:71px;

}
.promptCancel{
    width:71px;
    float:right;
    margin-right:10%;
    /*margin-left:5%;*/
    font-weight:bold;
}

#showPin{
    overflow:visible;
}


#lbtnShowPin {
    border: 1px groove #e0e0e0;
    padding: 0px 4px 0px 4px;
    color: black;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #dc3838;
    color: #e0e0e0;
    text-decoration: none;
}
#lbtnShowPin:hover{
    background-color:#efefef;
	cursor:pointer;
	color:#dc3838;
	box-shadow:none;
    border: none;
    border: 1px groove #e0e0e0;
}
#lbtnShowPin:active{
    color:#e0e0e0;
}



input[type="checkbox"]{
    border:3px solid red;
    cursor:pointer;
    width:20px;
    height:20px;
    margin-top:2px;
    margin-bottom:2px;
    vertical-align:middle;
}

.bookingInfoTextDiv{
    clear:both;
}

.bookingInfoText{
    color:#B02C2C;
    padding-top:10px;
}


.overlay-container-PIN{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color:transparent;
    z-index: 1499;
    display: none;
}
.page-overlay-PIN{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(51,51,51,0.7);
    z-index: 1500;
}
.overlay-message-PIN {
    position: relative;
    margin: 0 auto;
    margin-top: 110px;
    padding: 1em;
    z-index: 1501;
    background: white;
    max-width: 300px;
    border-radius:4px;
}

/*BOOKING - SLUT*/






/*PLAYERS*/

#MainContent_statsDiv{
    width: 100%;
}
.chartDiv{
    width: 100%;
    display:none;
}
.monthChart{
    width: 100% !important;
    height: auto !important;
    
}
.chartVisible{
    display:block;
}


#MainContent_monthPickerDiv{
    width:93%;
    margin-left:auto;
    margin-right:auto;
    height:auto;
    overflow:auto;
    font-size:100%;
    border:1px solid #A0A0A0;
    border-radius: 4px;
    margin-top:20px;
    /*height:41px;
    font-size:75%;*/
}
.monthSelector{
    float:left;
    padding-top:5px;
    padding-bottom:5px;
    text-align:center;
    font-weight:bold;
    /*background-color:#ddd;*/
    background: #ffffff;
    background-image: -webkit-linear-gradient(top, #ffffff, #dedede);
    background-image: -moz-linear-gradient(top, #ffffff, #dedede);
    background-image: -ms-linear-gradient(top, #ffffff, #dedede);
    background-image: -o-linear-gradient(top, #ffffff, #dedede);
    background-image: linear-gradient(to bottom, #ffffff, #dedede);
    /*border-top:1px solid #A0A0A0;*/
}
.monthSelector:hover{
    cursor:pointer;
    background-image:none;
    background-color:#dedede;
}

.monthSelector:active{
    background-image:none;
    background-color:darkgrey;
}

.activeMonth{
    background-image:none;
    background-color:#C7C7C7;
}

#users{
    margin-top:50px;
}

#tbSearchUser{
    border-radius:4px;
    margin-bottom:1%;
}

#MainContent_addressListDiv{
    overflow:hidden;
    text-align:justify;
}

#MainContent_userList{
    padding: 0px;
    max-height:400px;
    overflow:auto;
    margin:10px -300px 0px 0px;
    padding-right:280px;
}

/*::-webkit-scrollbar{
    display:none;
}*/

/*#MainContent_userList::-webkit-scrollbar { width: 0 !important }

#MainContent_userList{ -ms-overflow-style: none; }

#MainContent_userList { overflow: -moz-scrollbars-none; }*/



#MainContent_userList > li > p{
    display:inline;
}
#MainContent_userList > li{
    /*margin-bottom:5%;*/
    /*border-bottom:1px groove grey;*/
    list-style-type: none;
}

.emailLink{
    color:
}


/*PLAYERS - SLUT*/





/*OKLART*/
.shadowDiv{
    box-shadow:0px 50px 20px black;
}
.dl-horizontal dt {
    white-space: normal;
}

#logoCont{
    float:left;
    clear:none;
    width:100px;
}
/*OKLART - SLUT*/












@media screen and (min-width: 360.5px) {
    #pinDiv{
    padding-left:4%;
    /*color:purple;*/
    }
}

@media screen and (min-width:520px){
    #pinDiv{
        padding-left:6%;
    }
}

@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
        padding-top:100px;
    }
    #MainContent_scheduleDiv{
        width:100%;
    }
    #MainContent_selectorDiv{
        display:none;
    }
    .freeCourt:hover{
      cursor:pointer;
      background: #bdffbc;
      background-image: -webkit-linear-gradient(left, #bdffbc, #71f56e);
      background-image: -moz-linear-gradient(left, #bdffbc, #71f56e);
      background-image: -ms-linear-gradient(left, #bdffbc, #71f56e);
      background-image: -o-linear-gradient(left, #bdffbc, #71f56e);
      background-image: linear-gradient(to right, #bdffbc, #71f56e);

    }
    .fcsDivs:hover{
      background: rgba(164, 202, 163, 0.9);
      background-image: -webkit-linear-gradient(left, rgba(164, 202, 163, 0.9), rgba(164, 202, 163, 1));
      background-image: -moz-linear-gradient(left, rgba(164, 202, 163, 0.2), rgba(164, 202, 163, 1));
      background-image: -ms-linear-gradient(left, rgba(164, 202, 163, 0.2), rgba(164, 202, 163, 1));
      background-image: -o-linear-gradient(left, rgba(164, 202, 163, 0.2), rgba(164, 202, 163, 1));
      background-image: linear-gradient(to right, rgba(164, 202, 163, 0.2), rgba(164, 202, 163, 1));
    }

    .pTime{
        display:none;
    }
    #pinDiv{
    /*padding-left: 3%;*/
    /*padding-top: 4px;*/
    /*float: left;*/
    text-align: center;
    /*color:green;*/
    padding-left:0%;
    }

    #showPin{
    }
    
    .navbar-brand{
        margin-right:0%;
    }
    #scheduleH2{
        margin-left:8%;
        padding-left:0%;
    }
    #scheduleH4{
        margin-left:8%;
        padding-left:0%;
    }
    #MainContent_addressListDiv{
        width: 93%;
        margin: 0 auto;
    }
}
@media screen and (min-width: 992px){
    
    #startPageDiv{
        margin-top:2%;
    }
    #startPageDiv h2{
        margin-top:0;
    }

    #postitnote{
        right:18%;
    }
}

@media screen and (min-width: 1100px) {
    #postitnote{
        right:20%;
    }
}

@media screen and (min-width: 1300px) {
    #postitnote{
        right:23%;
    }
}

@media screen and (min-width: 1500px) {
    #postitnote{
        right:26%;
    }
}

@media screen and (min-width: 1700px) {
    #postitnote{
        right:29%;
    }
}

@media screen and (min-width: 1900px) {
    #postitnote{
        right:32%;
    }
}

@media screen and (min-width: 2250px) {
    #postitnote{
        right:34%;
    }
}

@media screen and (min-width: 2500px) {
    #postitnote{
        right:36%;
    }
}

@media screen and (min-width: 2850px) {
    #postitnote{
        right:38%;
    }
}

@media screen and (min-width: 3350px) {
    #postitnote{
        right:39.5%;
    }
}

@media screen and (min-width: 3850px) {
    #postitnote{
        right:41%;
    }
}

@media screen and (min-width: 4500px) {
    #postitnote{
        right:42%;
    }
}

@media screen and (min-width: 5000px) {
    #postitnote{
        right:43%;
    }
}




@media screen and (max-width: 1006px){
    #rightFloat{
        padding-left:1%;
        padding-right:0;
    }
    
    #myPageLink{
        padding-left:0;
    }
}



@media screen and (max-width: 992px){
    .navbar{
        width:90%;
    }
    footer{
        width:90%;
    }
    .body-content{
        width:90%;
    }
    #mContainer{
        width:80%;
    }
    #MainContent_newsDiv{
    border-left:none;
    }
    #MainContent_presentationDiv{
        padding-bottom:20px;
        border-bottom: 1px solid lightgrey;
    }
    .form-horizontal{
        padding-right:2%;
    }
    #infoDiv .form-horizontal{
        padding-right:0;
    }
    #contactDiv .form-horizontal{
        padding-right:0;
    }
    #postitnote{
        right:15%;
    }
}


@media screen and (max-width: 850px){ /*ny 2016-05-24 16:17*/
    .navbar{
        width:100%;
    }
    .body-content{
        width:100%;
    }
    footer{
        width:100%;
    }
}

@media screen and (max-width: 820px)
{
    /*.navbar{
        width:100%;
    }
    .body-content{
        width:100%;
    }
    footer{
        width:100%;
    }*/
    #postitnote{
        right:10%;
    }
}

/*MOBILLÄGE NÄR MENYN BYTS ETC*/
@media screen and (max-width: 767px){           /*testade 768px*/
    #infoDiv{
        margin-left:-15px;
        margin-right:-15px;
    }
    #logoImg{
        display: none;
    }
    #rightFloat{
        float: none;
    }
    #mContainer{
        width: 100%;
    }

    #myPageLink{
        padding: 10px 15px 10px 15px;
    }
    #rightFloat{
        padding-left:15px;
        padding-right:15px;
    }

    .mapDiv{
        padding-left:0%;
        padding-right:0%;
    }
    footer p{
        float:none;
        text-align:center;
        padding-top:2%;
        margin-bottom:0;
    }
    footer a{
        float:none;
        font-size:100%;
    }
    .body-content{
        padding-top:-50px;
    }
    .navbar-inverse .navbar-nav > li > a{
        font-size:135%;
    }
    #MainContent_bookingOverlayMessage{
        width:90%;
    }

    .hourDivs, .greyDiv{
        height:100px;
        width:100%;
        margin-top: 1%;
        border: 1px solid #A0A0A0;
        border-radius: 4px;
        overflow:hidden;
        text-align:center;
    }
    .dayDiv{
        width:100%;
        border:none;
    }
    .staticDayDiv{
        border-right:1px solid #A0A0A0;
    }
    #staticTimesDiv{
        display:none;
    }
    .courtDivs{
        /*background-color:lightgreen;*/
        /*margin:5px;*/
        height:100%;
        width:50%;
        padding-bottom:10px;
        padding-left:1px;
        padding-right:1px;
        overflow:hidden;
        float: left;
        font-size:180%;
        /*white-space:nowrap;*/
    }
    .B1{
        background-image:url(../Images/B1background.png);
        background-size:contain;
        background-repeat:no-repeat;
        text-align:left;
        border-right: 1px solid rgba(0, 0, 0, 0.12);
        padding-left:10px;
        padding-bottom:0px;
        padding-top:5px;
    }
    .B2{
        background-image:url(../Images/B2background.png);
        background-size:contain;
        background-repeat:no-repeat;
        background-position-x:right;
        text-align:right;
        padding-right:10px;
        padding-bottom:0px;
        padding-top:5px;
    }




    #MainContent_selectorDiv{
        overflow:hidden;
        
        /*word-break:break-all;*/
    }

    #MainContent_myBookingsDiv{
        width:80%;
    }
    .greyDiv{
        display:none;
    }
    .staticDayDiv{
        display:none;
    }
    .pTime {
        font-size: 300%;
        font-weight: bold;
        color: rgba(0,0,0,0.5);
        position: absolute;
        left: 50%;
        margin-top: 29px;
        margin-bottom: 29px;
        -moz-transform: translate(-50%);
        -ms-transform: translate(-50%);
        -webkit-transform: translate(-50%);
        transform: translate(-50%);
        /*text-align:center;
        font-size:300%;
        font-weight:bold;
        color:rgba(0,0,0,0.5);
        margin-left:calc(50% - 67px);
        /*margin-right:42%;
        margin-top:5%;*/
        /*margin-left:calc(44.2% - 42.7815px);*/
        /*margin-right:calc(44.2% - 42.7815px);*/
        /*z-index:1028;
        position:absolute;
        display:block*/
    }

    


    /*.hourBookingDiv{
        width:100%;
        margin:0;
    }
    .bookingDiv{
        display:block;
        max-width: 47%;
        float: left;
        margin-left: 2%;
        padding:1%;
        border:3px solid white;
    }
       

    .courtImgDivFree, .courtImgDivBooked, .courtImgReserved{
        width: 206px;
        height: 158px;
    }
    .courtImg{
        width: 154.5px;
        height: 158px;
        width:100%;
        height:auto;
    }

    .book-btn{
        width:58px;
        margin-left: 43%;
        margin-right: 43%;
        margin-top: 10px;
    }*/

    #MainContent_divBookMess{
        margin-left:2%;
    }

    #MainContent_bookingOverlayMessage{
        margin-top:60px;
    }

    #postitnote{
        display:none;
    }

}

@media screen and (max-width: 650px){
    #Email{
        padding-left:6%;
    }
}

@media screen and (max-width: 560px){
    .contactInfoDiv{
       /*width:100%;*/
       padding-left:0;
    }

    #Telephone{
        width:100%;
    }
    #Email{
        width:100%;
        padding-left:0;
    }
    #Address{
        width:100%;
    }
}

@media screen and (max-width: 550px){
    .overlay-message{
    width: 95%
    }
    #MainContent_myBookingsDiv{
        width:90%;
    }
}
@media screen and (max-width: 440px) {
    #MainContent_myBookingsDiv{
        width:100%;
    }
    .navbar-brand{
        margin-left:2px;
        padding-right:0px;
        font-size:160%;
    }

}

@media screen and (max-height: 570px){
    .overlay-message h2{
    font-size:170%;
    margin-top:5px;
    margin-bottom:0px;
    }
    #loginForm > .form-horizontal > hr{
        margin-top:5px;
        margin-bottom:5px;
    }

    #loginForm > .form-horizontal > #MyLoginControll_pnlDefaultButton > .form-group{
        margin-bottom:0px;
    }

    #emailPwLogin{
        display:none;
    }
}

@media screen and (max-width: 360px){
    a.navbar-brand{
        /*margin-left:0px;
        padding-top:15px;
        padding-left:15px;
        padding-right:0px;  
        font-size:160%;*/
        color:black;
        margin-left:2px;
        padding-right:0px;
        font-size:145%;
    }

    .headerDiv{
    font-size:130%;
    padding-top:2%;
    margin-bottom:0;
    font-weight:bold;
    }
    #pinDiv{
        font-size:90%;
        padding-top:10px;
        /*color:yellow;*/
        padding-left:2%;
    }

}
@media screen and (max-width: 319px){
    a.navbar-brand{
        font-size:120%;
    }
    #pinDiv{
        font-size:80%;
        text-shadow:none;
    }

}
